#delete-wrapper(ng-controller='deleteController')
  script.
    $('.delete-grid').masonry({
      itemSelector: '.delete-grid-item',
      columnWidth: 160
    });
  button#delete-button.btn.btn-danger.btn-md.pull-right(ng-click='delete()') DELETE
  .checkbox.pull-right(style='margin-right:10px')
    label
      input(type='checkbox' ng-click='selectAll()' ng-model='allSelected')
      | Select All
  legend Delete Matches
  ul
    .delete-grid
      each match in matches
        .delete-grid-item
          a.thumbnail(href='#' ng-click='select("' + match.id + '")')
            img.img-responsive(ng-init="selectMap['" + match.id + "'] = false" src=match.image style="width:100%" ng-class="{'delete-image' : selectMap['" + match.id + "']}")
            p(style="text-align:center")
              - for (var i = 0; i < match.clothes.length; ++i) {
              - if (i == match.clothes.length - 1) {
                span= match.clothes[i]
              - } else {
                span= match.clothes[i] + " / "
              - }
              - }
