legend Delete Matches
ul(ng-controller='deleteController')
  .row
    each match in matches
      .col-lg-3.col-md-4.col-sm-6.thumb
        a.thumbnail(href='#' ng-click='select("' + match.id + '")')
          img.img-responsive(src=match.image style="width:100%")
          p(style="text-align:center")
            - for (var i = 0; i < match.clothes.length; ++i) {
            - if (i == match.clothes.length - 1) {
              span= match.clothes[i]
            - } else {
              span= match.clothes[i] + " / "
            - }
            - }
