ul
  .row
    each match in matches
      .col-lg-3.col-md-4.col-sm-6.thumb
        a.thumbnail(href='#')
          img.img-responsive(src="/images/" + match.image style="width:100%")
          p
            - for (var i = 0; i < match.clothes.length; ++i) {
            - if (i == match.clothes.length - 1) {
              span= match.clothes[i]
            - } else {
              span= match.clothes[i] + " / "
            - }
            - }
