noscript
  iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-5CMWJM', height='0', width='0', style='display:none;visibility:hidden')
script.
  (function(w, d, s, l, i) {
  w[l] = w[l] || [];
  w[l].push({
  'gtm.start': new Date().getTime(),
  event: 'gtm.js'
  });
  var f = d.getElementsByTagName(s)[0],
  j = d.createElement(s),
  dl = l != 'dataLayer' ? '&l=' + l : '';
  j.async = true;
  j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
  f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-5CMWJM');
// End Google Tag Manager
.overlay-background.prevent-document-scroll
.breakpoints
  .breakpoint.standard(data-breakpoint='standard')
  .breakpoint.large(data-breakpoint='large')
  .breakpoint.medium(data-breakpoint='medium')
  .breakpoint.small(data-breakpoint='small')
  .breakpoint.retina(data-breakpoint='retina')
// header section
header#header-main.force-repaint-width.move-header-if-lt-ie10(data-module='header')
  // Logo on top
  .logo
    a(href='/us/en/') Gucci
  // bag tag
  nav#header-nav-bag-wrapper.header-nav-bag-wrapper.header-nav-group.header-nav-group-hover(data-module='headerUpdate')
    a.header-nav-parent-bag.header-nav-parent.header-nav-parent.header-nav-parent-link(href='/us/en/cart')
      span.title 哈哈
      span.shopping-bag-product-count
      span.caret
      span.caret-overlay
    #header-nav-bag.header-nav-child-bag.header-nav-child-bag-empty.header-nav-child.header-nav-fixed
      .header-nav-child-bag-wrapper
  a.header-nav-parent-main.header-ssa-display-mobile(href='#header-nav') 菜单
  a.header-nav-back(href='#header-nav') 返回
  // the navigation bar and the tags on the top left
  nav#header-nav.header-nav-group
    .header-nav-drawer.header-nav-drawer-child.prevent-document-touchmove
    #header-nav-child-main.header-nav-child.header-nav-drawer
      // the main navigation tags
      ul.header-nav-sections
        // Calculate the number of columns to show in each sub-menu. That number is used later in a class.
        li.header-nav-section.header-nav-section-0.header-nav-group.header-nav-group-hover
          .header-nav-section-title
            a.header-nav-parent.header-nav-parent-mutually-exclusive.header-nav-parent-link(href='/us/en/lo/runway-c-runway') 标签1
          section.header-nav-section-sub-wrapper.header-nav-child
            a.header-nav-item.header-nav-item-all(href='/us/en/lo/runway-c-runway') 标签1
            .header-nav-section-sub
              // Section sub number defined after discussions in GUCUAT-2162 and GUCUAT-749
              .header-nav-section-sub-2
                ul.header-nav-section-links
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/lo/runway/women-c-runway-women') 第一栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/lo/runway/women-c-runway-women') 第一栏
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/lo/runway/women/pre-fall-2016-c-women-runway-pre-fall-2016') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/lo/runway/women/spring-summer-2016-runway-c-runway-women-spring-summer-2016-runway') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/lo/runway/men-c-runway-men') 第二栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/lo/runway/men-c-runway-men') 第二栏
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/lo/runway/men/pre-fall-2016-c-men-runway-pre-fall-2016') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/lo/runway/men/spring-summer-2016-runway-c-runway-men-spring-summer-2016-runway') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                // .header-nav-section-links
                .header-nav-section-links-secondary.header-nav-group
                  ul
                // .header-nav-section-links-secondary
              // .header-nav-section-sub-3 or 4
            // .header-nav-section-sub
          // .header-nav-section-sub-wrapper
        // .header-nav-section
        // Calculate the number of columns to show in each sub-menu. That number is used later in a class.
        li.header-nav-section.header-nav-section-1.header-nav-group.header-nav-group-hover
          .header-nav-section-title
            a.header-nav-parent.header-nav-parent-mutually-exclusive.header-nav-parent-link(href='/us/en/ca/women-c-women') 标签2
          section.header-nav-section-sub-wrapper.header-nav-child
            a.header-nav-item.header-nav-item-all(href='/us/en/ca/women-c-women') 标签2
            .header-nav-section-sub
              // Section sub number defined after discussions in GUCUAT-2162 and GUCUAT-749
              .header-nav-section-sub-4
                ul.header-nav-section-links
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/women/handbags-c-women-handbags') 第一栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/women/handbags-c-women-handbags') 第一栏
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/handbags/womens-new-gg-marmont-c-women-handbags-marmont') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/handbags/womens-top-handles-boston-bags-c-women-handbags-top-handles-and-boston-bags') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/handbags/womens-totes-c-women-handbags-totes') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/handbags/womens-shoulder-bags-c-women-handbags-shoulder-bags') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/handbags/womens-hobos-c-women-handbags-hobos') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/handbags/womens-crossbody-bags-c-women-handbags-crossbody') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/handbags/womens-backpacks-c-women-handbags-backpacks') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/handbags/womens-mini-bags-c-women-handbags-mini-bags') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/handbags/womens-clutches-evening-c-women-handbags-clutches-and-evening') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/handbags/womens-exotics-c-women-handbags-exotics') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/women/womens-ready-to-wear-c-women-readytowear') 第二栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/women/womens-ready-to-wear-c-women-readytowear') Ready To Wear
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-ready-to-wear/womens-denim-c-women-readytowear-denim') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-ready-to-wear/womens-dresses-c-women-readytowear-dresses') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-ready-to-wear/womens-leather-fur-c-women-readytowear-leather-and-fur') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-ready-to-wear/womens-jackets-c-women-readytowear-jackets') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-ready-to-wear/womens-coats-outerwear-c-women-readytowear-coats-and-outerwear') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-ready-to-wear/womens-tops-shirts-c-women-readytowear-tops-and-shirts') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-ready-to-wear/womens-sweaters-cardigans-c-women-readytowear-sweaters-and-cardigans') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-ready-to-wear/new-sweatshirts-c-women-readytowear-new-sweatshirts') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-ready-to-wear/womens-skirts-c-women-readytowear-skirts') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-ready-to-wear/womens-pants-shorts-c-women-readytowear-pants-and-shorts') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/women/womens-shoes-c-women-shoes') 第三栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/women/womens-shoes-c-women-shoes') Shoes
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-shoes/womens-pumps-c-women-shoes-pumps') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-shoes/womens-sandals-c-women-shoes-sandals') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-shoes/womens-moccasins-loafers-c-women-shoes-moccasins-and-loafers') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-shoes/womens-ballerina-flats-c-women-shoes-ballerina-flats') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-shoes/womens-slides-mules-c-women-shoes-slides-and-mules') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-shoes/womens-boots-booties-c-women-shoes-boots-and-booties') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-shoes/womens-clogs-c-women-shoes-clogs') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-shoes/womens-espadrilles-wedges-c-women-shoes-espadrilles-and-wedges') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-shoes/womens-sneakers-c-women-shoes-sneakers') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/women/womens-accessories-c-women-accessories') 第四栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/women/womens-accessories-c-women-accessories') Accessories
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-accessories/womens-luggage-lifestyle-bags-c-women-accessories-luggage-and-lifestyle-bags') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-accessories/womens-wallets-c-women-accessories-wallets') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-accessories/womens-small-accessories-tech-c-women-accessories-small-accessories-tech') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-accessories/womens-belts-c-women-accessories-belts') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-accessories/womens-silks-scarves-c-women-accessories-silks-and-scarves') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-accessories/womens-hats-gloves-c-women-accessories-hats-and-gloves') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-accessories/womens-fine-jewelry-c-women-accessories-fine-jewelry') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-accessories/womens-silver-fashion-jewelry-c-women-accessories-jewelry') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-accessories/womens-watches-c-women-accessories-watches') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/women/womens-accessories/womens-sunglasses-c-women-accessories-sunglasses') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                // .header-nav-section-links
                .header-nav-section-links-secondary.header-nav-group
                  ul
                    li
                      a.header-nav-item(href='/us/en/ca/women/womens-fashion-jewelry-c-women-fashion-jewelry') 哈哈
                    li
                      a.header-nav-item(href='/us/en/st/capsule/women/womens-evening-wear') 哈哈
                    li
                      a.header-nav-item(href='/us/en/st/capsule/gucci-stories') 哈哈
                    li
                      a.header-nav-item(href='/us/en/st/capsule/denim') 哈哈
                    li
                      a.header-nav-item(href='/us/en/st/capsule/women-ace') 哈哈
                    li
                      a.header-nav-item(href='/us/en/ca/women/gucci-signature-c-women-gucci-signature') 哈哈
                    li
                      a.header-nav-item(href='/us/en/ca/women/gucci-tian-c-women-special-collection-gucci-tian') 哈哈
                    li
                      a.header-nav-item(href='/us/en/ca/women/blooms-c-women-special-collection-blooms') 哈哈
                // .header-nav-section-links-secondary
              // .header-nav-section-sub-3 or 4
            // .header-nav-section-sub
          // .header-nav-section-sub-wrapper
        // .header-nav-section
        // Calculate the number of columns to show in each sub-menu. That number is used later in a class.
        li.header-nav-section.header-nav-section-2.header-nav-group.header-nav-group-hover
          .header-nav-section-title
            a.header-nav-parent.header-nav-parent-mutually-exclusive.header-nav-parent-link(href='/us/en/ca/men-c-men') 标签3
          section.header-nav-section-sub-wrapper.header-nav-child
            a.header-nav-item.header-nav-item-all(href='/us/en/ca/men-c-men') 标签3
            .header-nav-section-sub
              // Section sub number defined after discussions in GUCUAT-2162 and GUCUAT-749
              .header-nav-section-sub-4
                ul.header-nav-section-links
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/men/mens-bags-c-men-bags') 第一栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/men/mens-bags-c-men-bags') 第一栏
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-bags/mens-messengers-bags-c-men-bags-messenger-bags') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-bags/mens-backpacks-c-men-bags-backpacks') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-bags/mens-belts-bags-c-men-bags-belt-bags') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-bags/mens-totes-c-men-bags-totes') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-bags/mens-portfolios-c-men-bags-portfolios') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-bags/mens-briefcases-c-men-bags-briefcases') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-bags/mens-duffle-bags-c-men-bags-duffle-bags') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-bags/mens-luggage-c-men-bags-luggage') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/men/mens-ready-to-wear-c-men-readytowear') 第二栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/men/mens-ready-to-wear-c-men-readytowear') 第二栏
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-ready-to-wear/mens-denim-c-men-ready-to-wear-denim') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-ready-to-wear/mens-suits-c-men-readytowear-suits') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-ready-to-wear/mens-jackets-c-men-readytowear-jackets') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-ready-to-wear/mens-coats-outerwear-c-men-readytowear-coats-and-outerwear') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-ready-to-wear/mens-leather-jackets-c-men-readytowear-leather-jackets') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-ready-to-wear/mens-dress-shirts-sports-shirts-c-men-readytowear-dress-shirts-and-sports-shirts') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-ready-to-wear/mens-sweaters-cardigans-c-men-readytowear-sweaters-and-cardigans') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-ready-to-wear/new-sweatshirts-c-men-readytowear-new-sweatshirts') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-ready-to-wear/mens-t-shirts-polos-c-men-readytowear-tshirts-and-polos') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-ready-to-wear/mens-pants-shorts-c-men-readytowear-pants-and-shorts') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/men/mens-shoes-c-men-shoes') 第三栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/men/mens-shoes-c-men-shoes') 第三栏
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-shoes/mens-moccasins-loafers-c-men-shoes-moccasins-and-loafers') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-shoes/mens-lace-ups-c-men-shoes-lace-ups') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-shoes/mens-monk-straps-c-men-shoes-monk-straps') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-shoes/mens-boots-c-men-shoes-boots') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-shoes/mens-drivers-c-men-shoes-drivers') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-shoes/mens-sandals-c-men-shoes-sandals') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-shoes/mens-sneakers-c-men-shoes-sneakers') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-shoes/mens-exotics-c-men-shoes-exotics') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/men/mens-accessories-c-men-accessories') 第四栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/men/mens-accessories-c-men-accessories') 第四栏
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-accessories/mens-wallets-c-men-accessories-wallets') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-accessories/mens-small-accessories-tech-c-men-accessories-small-accessories-tech') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-accessories/mens-belts-c-men-accessories-belts') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-accessories/mens-ties-c-men-accessories-ties') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-accessories/mens-scarves-c-men-accessories-scarves') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-accessories/mens-hats-gloves-c-men-accessories-hats-and-gloves') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-accessories/mens-fine-jewelry-c-men-accessories-fine-jewelry') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-accessories/mens-silver-fashion-jewelry-c-men-accessories-jewelry') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-accessories/mens-watches-c-men-accessories-watches') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/men/mens-accessories/mens-sunglasses-c-men-accessories-sunglasses') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                // .header-nav-section-links
                .header-nav-section-links-secondary.header-nav-group
                  ul
                    li
                      a.header-nav-item(href='/us/en/st/capsule/men/men-suiting') 哈哈
                    li
                      a.header-nav-item(href='/us/en/st/capsule/men/men-formal-wear') 哈哈
                    li
                      a.header-nav-item(href='/us/en/st/capsule/gucci-stories') 哈哈
                    li
                      a.header-nav-item(href='/us/en/st/capsule/denim') 哈哈
                    li
                      a.header-nav-item(href='/us/en/ca/men/mens-fashion-jewelry-c-men-fashion-jewelry') 哈哈
                    li
                      a.header-nav-item(href='/us/en/st/capsule/men-ace') 哈哈
                    li
                      a.header-nav-item(href='/us/en/ca/men/gucci-signature-c-men-gucci-signature') 哈哈
                    li
                      a.header-nav-item(href='/us/en/ca/men/gucci-tian-c-men-special-collection-gucci-tian') 哈哈
                    li
                      a.header-nav-item(href='/us/en/ca/men/blooms-caleido-c-men-special-collection-blooms-caleido') 哈哈
                // .header-nav-section-links-secondary
              // .header-nav-section-sub-3 or 4
            // .header-nav-section-sub
          // .header-nav-section-sub-wrapper
        // .header-nav-section
        // Calculate the number of columns to show in each sub-menu. That number is used later in a class.
        li.header-nav-section.header-nav-section-3.header-nav-group.header-nav-group-hover
          .header-nav-section-title
            a.header-nav-parent.header-nav-parent-mutually-exclusive.header-nav-parent-link(href='/us/en/ca/children-c-children') 标签4
          section.header-nav-section-sub-wrapper.header-nav-child
            a.header-nav-item.header-nav-item-all(href='/us/en/ca/children-c-children') 标签4
            .header-nav-section-sub
              // Section sub number defined after discussions in GUCUAT-2162 and GUCUAT-749
              .header-nav-section-sub-4
                ul.header-nav-section-links
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/children/baby-c-children-baby') 第一栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/children/baby-c-children-baby') 第一栏
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/baby/newborn-c-children-baby-newborn') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/baby/girls-0-36-m-c-children-baby-girls-0-36-m') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/baby/boys-0-36-m-c-children-baby-boys-0-36-m') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/baby/baby-shoes-c-children-baby-baby-shoes') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/baby/toddler-shoes-20-26-c-children-baby-toddler-shoes') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/baby/baby-accessories-c-children-baby-accessories') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/baby/diaper-bags-totes-c-children-baby-diaper-bags-and-totes') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/children/girls-c-children-girls') 第二栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/children/girls-c-children-girls') 第二栏
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/girls/girls-clothing-4-12-years-c-children-girls-clothing-4-12') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/girls/girls-shoes-c-children-girls-shoes') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/girls/girls-accessories-c-children-girls-accessories') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/girls/girls-special-occasion-c-children-girls-special-occasion') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/children/boys-c-children-boys') 第三栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/children/boys-c-children-boys') 第三栏
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/boys/boys-clothing-4-12-years-c-children-boys-clothing-4-12') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/boys/boys-shoes-20-38-c-children-boys-shoes') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/boys/boys-accessories-c-children-boys-accessories') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/boys/boys-special-occasion-c-children-boys-special-occasion') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/children/childrens-gifts-c-children-gift') 第四栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/children/childrens-gifts-c-children-gift') 第四栏
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/childrens-gifts/for-baby-c-children-gift-for-baby') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/children/childrens-gifts/for-mom-c-children-gift-for-mom') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/lo/children/childrens-collections-c-children-collections') 第五栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/lo/children/childrens-collections-c-children-collections') 第五栏
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/lo/children/childrens-collections/baby-c-children-collections-baby') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/lo/children/childrens-collections/girl-c-children-collections-girl') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/lo/children/childrens-collections/boy-c-children-collections-boy') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                // .header-nav-section-links
                .header-nav-section-links-secondary.header-nav-group
                  ul
                // .header-nav-section-links-secondary
              // .header-nav-section-sub-3 or 4
            // .header-nav-section-sub
          // .header-nav-section-sub-wrapper
        // .header-nav-section
        // Calculate the number of columns to show in each sub-menu. That number is used later in a class.
        li.header-nav-section.header-nav-section-4.header-nav-group.header-nav-group-hover
          .header-nav-section-title
            a.header-nav-parent.header-nav-parent-mutually-exclusive.header-nav-parent-link(href='/us/en/ca/beauty-c-beauty') 标签5
          section.header-nav-section-sub-wrapper.header-nav-child
            a.header-nav-item.header-nav-item-all(href='/us/en/ca/beauty-c-beauty') 标签5
            .header-nav-section-sub
              // Section sub number defined after discussions in GUCUAT-2162 and GUCUAT-749
              .header-nav-section-sub-4
                ul.header-nav-section-links
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/beauty/eyes-c-beauty-eyes') 第一栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/beauty/eyes-c-beauty-eyes') 第一栏
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/eyes/mono-eyeshadow-c-beauty-eyes-mono-eyeshadow') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/eyes/duo-eyeshadow-c-beauty-eyes-duo-eyeshadow') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/eyes/quad-eyeshadow-c-beauty-eyes-quad-eyeshadow') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/eyes/mascara-c-beauty-eyes-mascara') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/eyes/eyebrow-pencil-c-beauty-eyes-eyebrow-pencil') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/eyes/eye-brushes-c-beauty-eyes-eye-brushes') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/eyes/eye-liner-c-beauty-eyes-eyeliner') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/beauty/lips-c-beauty-lips') 第二栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/beauty/lips-c-beauty-lips') 第二栏
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/lips/matte-lipstick-c-beauty-lips-matte-lipstick') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/lips/pigment-rich-lipstick-c-beauty-lips-audacious-lipstick') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/lips/moisture-rich-lipstick-c-beauty-lips-luxurious-lipstick') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/lips/lip-gloss-c-beauty-lips-lip-gloss') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/lips/lip-pencil-c-beauty-lips-lip-pencil') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/lips/lip-brush-c-beauty-lips-lip-brush') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/beauty/face-c-beauty-face') 第三栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/beauty/face-c-beauty-face') 第三栏
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/face/foundation-c-beauty-face-foundation') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/face/concealer-c-beauty-face-concealer') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/face/blushing-powder-c-beauty-face-blushing-powder') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/face/bronzer-c-beauty-face-bronzer') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/face/finishing-powder-c-beauty-face-finishing-powder') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/face/face-brushes-c-beauty-face-face-brushes') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/face/skincare-c-beauty-skincare') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/beauty/nails-c-beauty-nails') 第四栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/beauty/nails-c-beauty-nails') 第四栏
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/nails/base-c-beauty-nails-base') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/nails/gloss-c-beauty-nails-gloss') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/nails/metallic-c-beauty-nails-metallic') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/nails/neutral-c-beauty-nails-neutral') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/nails/bright-c-beauty-nails-bright') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/beauty/nails/dark-c-beauty-nails-dark') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                // .header-nav-section-links
                .header-nav-section-links-secondary.header-nav-group
                  ul
                    li
                      a.header-nav-item(href='/us/en/ca/beauty/fragrances/fragrances-for-women-c-fragrances-for-women') 哈哈
                    li
                      a.header-nav-item(href='/us/en/ca/beauty/fragrances/fragrances-for-men-c-fragrances-for-men') 哈哈
                    li
                      a.header-nav-item(href='/us/en/ca/beauty/spring-summer-2016-color-collection-c-beauty-spring-summer-2016-color-collection') 哈哈
                // .header-nav-section-links-secondary
              // .header-nav-section-sub-3 or 4
            // .header-nav-section-sub
          // .header-nav-section-sub-wrapper
        // .header-nav-section
        // Calculate the number of columns to show in each sub-menu. That number is used later in a class.
        // CASE OF "GIFTS": no top name for the internal menus, only internal links
        li.header-nav-section.header-nav-section-5.header-nav-group.header-nav-group-hover
          .header-nav-section-title
            a.header-nav-parent.header-nav-parent-mutually-exclusive.header-nav-parent-link(href='/us/en/ca/gifts-c-gifts') 标签6
          section.header-nav-section-sub-wrapper.header-nav-child
            a.header-nav-item.header-nav-item-all(href='/us/en/ca/gifts-c-gifts') 标签6
            .header-nav-section-sub
              .header-nav-section-sub-2
                ul.header-nav-section-links
                  li.header-nav-group
                    .header-nav-child-list
                      ul
                        li
                          a.header-nav-item(href='/us/en/ca/gifts/gifts-for-her-c-gifts-for-her') 哈哈
                        li
                          a.header-nav-item(href='/us/en/ca/gifts/gifts-for-him-c-gifts-for-him') 哈哈
                        li
                          a.header-nav-item(href='/us/en/ca/children/childrens-gifts/gifts-for-children-c-gifts-for-children') 哈哈
                        li
                          a.header-nav-item(href='/us/en/ca/gifts/corporate-gifts-c-gifts-corporate-gifts') 哈哈
                    // .header-nav-child-list
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-child-list
                      ul
                    // .header-nav-child-list
                  // .header-nav-group
                // .header-nav-section-links
                .header-nav-section-links-secondary.header-nav-group(style="background-image:url('https://media.gucci.com/content/NavMegaPromo_452x150/1454085385/NavMegaPromo_ivory-wrap-new_001_Default.png')")
              // .header-nav-section-sub-2
          // .header-nav-section-sub-wrapper
        // .header-nav-section
        // Calculate the number of columns to show in each sub-menu. That number is used later in a class.
        li.header-nav-section.header-nav-section-6.header-nav-group.header-nav-group-hover
          .header-nav-section-title
            a.header-nav-parent.header-nav-parent-mutually-exclusive.header-nav-parent-link(href='/us/en/ca/sale-c-sale') 标签7
          section.header-nav-section-sub-wrapper.header-nav-child
            a.header-nav-item.header-nav-item-all(href='/us/en/ca/sale-c-sale') 标签7
            .header-nav-section-sub
              // Section sub number defined after discussions in GUCUAT-2162 and GUCUAT-749
              .header-nav-section-sub-3
                ul.header-nav-section-links
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/sale/women-c-sale-women') 第一栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/sale/women-c-sale-women') 第一栏
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/sale/women/handbags-c-sale-women-handbags') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/sale/women/womens-shoes-c-sale-women-shoes') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/sale/women/womens-accessories-c-sale-women-accessories') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/sale/men-c-sale-men') 第二栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/sale/men-c-sale-men') 第二栏
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/sale/men/mens-bags-c-sale-men-bags') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/sale/men/mens-shoes-c-sale-men-shoes') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/sale/men/mens-accessories-c-sale-men-accessories') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                  li.header-nav-group
                    .header-nav-group-title.title-
                      a.header-nav-parent.header-nav-parent-link-standard(href='/us/en/ca/sale/children-c-sale-children') 第三栏
                    .header-nav-child
                      a.header-nav-item.header-nav-item-all(href='/us/en/ca/sale/children-c-sale-children') 第三栏
                      ul
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/sale/children/clothing-0-36m-c-sale-children-clothing-0-36-m') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/sale/children/baby-shoes-accessories-c-sale-baby-shoes-and-accessories') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/sale/children/clothing-4-12-years-c-sale-children-clothing-4-12') 哈哈
                        li.sub-
                          a.header-nav-item(href='/us/en/ca/sale/children/childrens-shoes-accessories-c-sale-children-shoes-and-accessories') 哈哈
                    // .header-nav-child
                  // .header-nav-group
                // .header-nav-section-links
                .header-nav-section-links-secondary.header-nav-group
                  ul
                // .header-nav-section-links-secondary
              // .header-nav-section-sub-3 or 4
            // .header-nav-section-sub
          // .header-nav-section-sub-wrapper
        // .header-nav-section
        li.header-nav-section.header-nav-section-6.header-nav-group.header-nav-group-hover
          // If less that two issues directly show the page
          .header-nav-section-title
            a(href='/us/en/st/the-agenda') 标签8
      // for saved items might be commented
      ul.header-nav-user.header-nav-secondary
        li#header-nav-favorites.header-nav-group.header-nav-group-hover.hide(data-module='savedItemsFlyout')
          a.header-nav-parent-favorites.header-nav-parent.header-nav-parent-link-medium.header-nav-item
            span.title
            span#saved-items-count(data-saved-items-count='')
          #header-nav-favorites.header-nav-child-favorites.header-nav-child.header-nav-fixed
          input#hasSavedItem(type='hidden', value='false')
        li#header-nav-user.header-nav-group.header-nav-group-hover
          a.header-nav-parent-account.header-nav-parent.header-nav-parent-link.header-nav-item
      // service tags on top-left
      ul.header-nav-settings.header-nav-secondary
        li.header-nav-group.header-nav-group-hover.disable-nav-group
          span.header-nav-parent-language.header-nav-parent.header-nav-item 哈哈
        li.header-nav-group.header-nav-group-hover.disable-nav-group
          span.header-nav-parent-language.header-nav-parent.header-nav-item 地址
        li.header-nav-group.header-ssa-to-display
          .header-nav-assitance-call.header-nav-item.header-nav-link.visible-for-standard.overlay-open
            span.phone-number 电话
          .header-nav-assitance-call.header-nav-item.header-nav-link.hidden-for-standard
            span.title 客户服务:  
            a.phone-number(href='#') 电话
  // END the navigation bar
  // The search field
  .header-nav-group
    a.header-nav-parent-search.header-nav-parent(href='#scroll-wrapper')
      span.title 搜索
      span.caret-overlay
      span.caret
    form#header-nav-search.header-nav-child(action='/us/en/search', method='get', data-module='searchFlyout')
      input#predictive-search-enabled(type='hidden', value='false', data-autocomplete-enabled='false', data-product-suggestions-enabled='false', data-category-suggestions-enabled='false', data-recent-search-history-enabled='false', data-popular-categories-enabled='false')
      input#autocompleteUrl(type='hidden', value='/us/en/search/autocomplete/SearchBoxComponent?term=')
      label.visually-hidden(for='header-nav-search-input') 搜索
      span#header-nav-search-input-disabled(data-placeholder='Search products')
      input(type='hidden', name='search-cat', value='header-search')
      input#header-nav-search-input.header-nav-child-focus(name='text', placeholder='搜索', type='text', value='', autocomplete='off', data-trigger-predictive-count='1000', data-placeholder='搜索产品')
      input.header-nav-search-submit(type='submit', value='GO')
