// footer
footer#footer-main.accordion-wrapper.standard(data-module='footer, accordion')
  .wrapper-back-to-top
    a.back-to-top(href='#header-main') Back to top
  .content-inner
    section.footer-nav
      .footer-section
        div
          h5.footer-group-title.accordion-button.footer-group-title-hidden-small 第一栏
          ul.footer-group.accordion-drawer.footer-group-title-hidden-small
            li.footer-item
              a.footer-link.has-icon.gift-wrap.overlay-open(href='#8796093070054') 哈哈
            li.footer-item
              a.footer-link.has-icon.delivery.overlay-open(href='#8796289710822') 哈哈
        #8796093070054.overlay.promo(data-module='overlay')
          .overlay-wrapper.promo-wrapper
            .promo-content-wrapper
              section.overlay-content.promo-content
                button.overlay-close.overlay-close-button-first(type='button') Close Overlay
                h5.overlay-promo-header Gucci Exclusive Services
                p.call-out
                  | Complimentary Gift Wrapping
                p.overlay-promo-body-copy
                  | Your order will come with complimentary gift wrap in a signature Gucci gift box, elegantly tied with a Gucci satin ribbon.
                button.overlay-close.overlay-close-button-second
                  | Close
                  span.visually-hidden Overlay
        #8796289710822.overlay.promo(data-module='overlay')
          .overlay-wrapper.promo-wrapper
            .promo-content-wrapper
              section.overlay-content.promo-content
                button.overlay-close.overlay-close-button-first(type='button') Close Overlay
                h5.overlay-promo-header GUCCI EXCLUSIVE SERVICES
                p.call-out
                  | Free Ground Shipping
                p.overlay-promo-body-copy
                  | Free ground shipping will be offered for online orders placed to destinations within the continental United States. This offer will only be applicable to purchases made on the U.S. Gucci.com website and is non-transferable. Our online sales team is also
                  | available to guide you by phone and email. For more information, visit our FAQ.
                button.overlay-close.overlay-close-button-second
                  | Close
                  span.visually-hidden Overlay
        .accordion-item.accordion-item-mutually-exclusive.accordion-item-default.accordion-item-small._close
          h5.footer-group-title.accordion-button.form-zip-code STORE LOCATOR
          ul.footer-group.accordion-drawer.form-zip-code
            li.footer-item
              form(action='/us/en/store-finder', method='get')
                label.visually-hidden(for='store-location') Enter zip code::
                input#store-location.text-input(placeholder='City, country', type='text', name='store-search')
                span.store-locator
                input.submit-button(type='submit', value='Submit')
          // .footer-group
        // .accordion-item
      .footer-section
        .accordion-item.accordion-item-mutually-exclusive.accordion-item-default.accordion-item-small._close
          h5.footer-group-title.accordion-button 第二栏
          ul.footer-group.accordion-drawer
            li.footer-item
              a.footer-link(href='/us/en/st/contact-us') 哈哈
            li.footer-item
              a.footer-link(href='/us/en/newsletters/unsubscribe') 哈哈
            li.footer-item
              a.footer-link(href='/us/en/st/faq') 哈哈
            li.footer-item
              a.footer-link(href='/us/en/st/faq#payment') 哈哈
            li.footer-item
              a.footer-link(href='/us/en/st/faq#shipping-and-delivery') 哈哈
            li.footer-item
              a.footer-link(href='/us/en/st/faq#returns-and-exchanges') 哈哈
            li.footer-item
              a.footer-link(href='/us/en/st/faq#care-and-repair') 哈哈
            li.footer-item
              a.footer-link(href='/us/en/article/video_how_to_shop_on_gucci_website') 哈哈
          // .footer-group
      // .footer-section
      .footer-section
        .accordion-item.accordion-item-mutually-exclusive.accordion-item-default.accordion-item-small._close
          h5.footer-group-title.accordion-button 第三栏
          ul.footer-group.accordion-drawer
            li.footer-item
              a.footer-link(href='/us/en/st/about-gucci') 哈哈
            li.footer-item
              a.footer-link(href='/us/en/st/sustainability-landing') 哈哈
            li.footer-item
              a.footer-link(href='/us/en/st/careers-landing') 哈哈
            li.footer-item
              a.footer-link(href='/us/en/st/legal-landing') 哈哈
            li.footer-item
              a.footer-link(href='/us/en/st/privacy-landing') 哈哈
            li.footer-item
              a.footer-link(href='/us/en/st/corporate-information') 哈哈
          // .footer-group
      // .footer-section
      .footer-section
        .accordion-item.accordion-item-mutually-exclusive.accordion-item-default.accordion-item-small._close
          h5.footer-group-title.accordion-button 第四栏
          ul.footer-group.accordion-drawer
            li.footer-item
              a.footer-link.has-icon.has-icon.facebook(target='_blank', href='http://www.facebook.com/gucci') 哈哈
            li.footer-item
              a.footer-link.has-icon.has-icon.twitter(target='_blank', href='http://twitter.com/gucci') 哈哈
            li.footer-item
              a.footer-link.has-icon.has-icon.instagram(target='_blank', href='http://instagram.com/gucci') 哈哈
            li.footer-item
              a.footer-link.has-icon.has-icon.youtube(target='_blank', href='http://www.youtube.com/gucciofficial') 哈哈
            li.footer-item
              a.footer-link.has-icon.has-icon.google-plus(target='_blank', href='https://plus.google.com/117338484400239480369/posts') 哈哈
            li.footer-item
              a.footer-link.has-icon.has-icon.pinterest(target='_blank', href='https://pinterest.com/gucci/') 哈哈
          // .footer-group
      // .footer-section
    section.side-content
      .side-wrapper
        .side-wrapper-sub
          article.form-email.accordion-item.accordion-item-mutually-exclusive.accordion-item-default.accordion-item-small._close
            h5.footer-group-title.accordion-button
              | 订阅
              span.hidden-small 哈哈
              | 最新信息
            .form-email-contents.accordion-drawer
              p.disclaimer
                | 订阅则同意哈哈的
                a(href='/us/en/st/privacy-landing')  隐私政策
              p.disclaimer
              form#thank-you-newsletter-form(action='/us/en/newsletters/ajax/subscribe', method='post', data-module='thankYouNewsletter')
                label.visually-hidden(for='email-updates') 输入电邮
                // //BUGFIX S19 GR-6248 Newsletter Sign-up | Email field | Error State
                input#email-updates.text-input(placeholder='电邮', type='text', name='email', data-error-message='Please retype email', spellcheck='false')
                span.icon-submit
                input.submit-button(type='submit', value='Submit')
        .side-wrapper-sub
          article.form-zip-code
            h5.footer-group-title.accordion-button 搜索商店
            form(action='/us/en/store-finder', method='get')
              label.visually-hidden(for='store-location') 邮编
              input#store-location.text-input(placeholder='城市，国家', type='text', name='store-search')
              input(type='hidden', value='store-locator', name='search-cat')
              span.store-locator
              input.submit-button(type='submit', value='Submit')
          nav.other-sites
            .style-icon-group
              .style-icon
                | Gucci style
              .style-icon-ios-wrapper
                a.style-icon-ios(href='https://itunes.apple.com/it/app/gucci/id334876990?mt=8') Download app iOS
              .style-icon-android-wrapper
                a.style-icon-android(href='https://play.google.com/store/apps/details?id=com.gucci.gucciapp') Download app Android
            .style-icon-group-mobile
              a.style-icon-mobile(href='#', target='_blank', data-ios-href='https://itunes.apple.com/it/app/gucci/id334876990?mt=8', data-android-href=' https://play.google.com/store/apps/details?id=com.gucci.gucciapp')
                | Gucci style mobile
            ul.group
              li
                a.icon.museo(href='http://www.guccimuseo.com/') Guccimuseo
              li
                a.icon.chime(href='http://www.chimeforchange.org/') Chime for change
          // .other-sites
        // .side-wrapper-sub
      // .side wrapper
    // .side-content
    p.copyright © 2016 Guccio Gucci S.p.A. - All rights reserved. SIAE LICENCE # 2294/I/1936
  // .content-inner
// END the footer
// subscribe modal
section#snapchat-overlay.overlay.snapchat-overlay(data-scrolltotop='false', data-module='overlay')
  .snapchat-overlay-wrapper
    .snapchat-overlay-content-wrapper
      .snapchat-overlay-content
        button.overlay-close.overlay-close-button-first.close(type='button') X
        img(src='https://www.gucci.com/_ui/responsive/common/images/snapchat_code_big.png', alt='Snapchat Gucci')
