doctype html
//if lt IE 7
  html.no-js.lt-ie10.lt-ie9.lt-ie8.lt-ie7(lang='en', xmlns:fb='http://www.facebook.com/2008/fbml', xmlns:og='http://opengraphprotocol.org/schema')
//if IE 7
  html.no-js.lt-ie10.lt-ie9.lt-ie8.gt-ie6(lang='en', xmlns:fb='http://www.facebook.com/2008/fbml', xmlns:og='http://opengraphprotocol.org/schema')
//if IE 8
  html.no-js.lt-ie10.lt-ie9.gt-ie7.gt-ie6(lang='en', xmlns:fb='http://www.facebook.com/2008/fbml', xmlns:og='http://opengraphprotocol.org/schema')
//if IE 9
  html.no-js.lt-ie10.gt-ie8.gt-ie7.gt-ie6(lang='en', xmlns:fb='http://www.facebook.com/2008/fbml', xmlns:og='http://opengraphprotocol.org/schema')
// [if gt IE 9] <!
  html.no-js.gt-ie9.gt-ie8.gt-ie7.gt-ie6(lang='en', xmlns:fb='http://www.facebook.com/2008/fbml', xmlns:og='http://opengraphprotocol.org/schema')
  // <![endif]
  head
    meta(charset='utf-8')
    // Technical specification provided with story GUC-433
    meta(name='title', content='#{title}')
    // Technical specification provided with story GUC-433
    meta(name='description', content='#{description}')
    link(rel='apple-touch-icon', href='images/static-images/GG_Icon_iOS_57.png', sizes='57x57')
    link(rel='apple-touch-icon', href='images/static-images/GG_Icon_iOS_72.png', sizes='72x72')
    link(rel='apple-touch-icon', href='images/static-images/GG_Icon_iOS_114.png', sizes='114x114')
    link(rel='apple-touch-icon', href='images/static-images/GG_Icon_iOS_144.png', sizes='144x144')
    link(rel='shortcut icon', href='images/static-images/favicon.png')
    title= title
    link(rel='stylesheet', href='index.css')
    script(src='modernizer.js')
    // End - GUCUAT-2847
    script(src='https://cdn.optimizely.com/js/5016740305.js')

  block body
